body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 450px;
  width: 100%;
  padding-top: 120px;
  background-color: #42b7c7;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

body > header h2 {
  font-weight: 300;
  color: white;
  margin: 0;

}

body > header h2 > span {
  font-weight: bold;
}

@media (min-width: 1024px) {
  body > header {
    width: 30%;
    height: 100%;
    position: fixed;
    justify-content: center;
  }
}