body > nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  align-items: center;
  z-index: 99;
}

body > nav > * {
  margin: 1.5em;
}

body > nav > span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em ;
  margin-right: auto;
}

body > nav > a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > nav > a:hover > i{
  padding-top: 0.4em;
}


body > nav > a > p {
  text-align: center;
  margin: 0;
}

body > nav > a > p > span {
  font-weight: bold;
}


@media (max-width: 450px) {

  body > nav > span {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  body > nav {
    background: none;
    position: absolute;
  }
}

@media (min-width: 1024px) {
  body > nav {
  position: fixed;    
  }
  
}
