body > nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  align-items: center;
}

body > nav > * {
  margin: 1.5em;
}

body > nav > span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em ;
  margin-right: auto;
}

body > nav > a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > nav > a:hover {
  padding-top: 0.2em;
}


body > nav > a > p {
  margin: 0;
}

body > nav > a > p > span {
  font-weight: bold;
}
